#  Práctica 7b: análisis de regresión lineal múltiple

In [25]:
import pandas as pd
from sklearn.datasets import load_diabetes
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [8]:
diabetes = load_diabetes()

In [9]:
diabetes.data.shape

(442, 10)

In [10]:
diabetes.target.shape

(442,)

In [12]:
df = pd.DataFrame(diabetes.data) 
df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(diabetes.data, diabetes.target, test_size=0.1)

In [14]:
lr = LinearRegression(normalize=True)
lr.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [15]:
lr.score(X_test, Y_test)

0.3930216872741179

In [16]:
scores = cross_val_score(lr, diabetes.data, diabetes.target, cv=7, scoring='neg_mean_squared_error')

In [17]:
scores.mean()

-3008.602287456096

In [18]:
scores.std()

338.8437072487504

In [19]:
scores = cross_val_score(lr, diabetes.data, diabetes.target, cv=10, scoring='r2')

In [20]:
scores.mean()

0.4619623619583371

In [21]:
scores.std()

0.1469878918537588

In [22]:
print('y = ' + str(lr.intercept_) + ' ')

y = 151.57931328339802

In [23]:
for i, c in enumerate(lr.coef_):
          print(str(c) + ' * x' + str(i))

-10.99247757267878 * x0
-232.56524837861951 * x1
529.9551257116478 * x2
323.264812014963 * x3
-642.2305475400856 * x4
352.15204400281533 * x5
19.792137200625568 * x6
145.94873644483215 * x7
701.5810151732528 * x8
69.1676570195821 * x9