# Práctica 6a: medidas de distancia para el análisis de clustering en R

In [39]:
data("mtcars") # Load the data set
df <- mtcars

In [40]:
str(df)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [41]:
df <- na.omit(df)

In [42]:
df <- scale(df)

In [43]:
head(df, n = 3)

              mpg       cyl        disp       hp         drat      wt
Mazda RX4     0.1508848 -0.1049878 -0.5706198 -0.5350928 0.5675137 -0.6103996
Mazda RX4 Wag 0.1508848 -0.1049878 -0.5706198 -0.5350928 0.5675137 -0.3497853
Datsun 710    0.4495434 -1.2248578 -0.9901821 -0.7830405 0.4739996 -0.9170046
              qsec       vs         am       gear      carb
Mazda RX4     -0.7771651 -0.8680278 1.189901 0.4235542  0.7352031
Mazda RX4 Wag -0.4637808 -0.8680278 1.189901 0.4235542  0.7352031
Datsun 710     0.4260068  1.1160357 1.189901 0.4235542 -1.1221521

In [44]:
set.seed(123) #proponemos una semilla para que sea reproducible el experimento
ss <- sample(1:32, 15) #tomamos 15 observaciones 
df <- mtcars[ss, ]  #creamos el subcojunto
df.scaled <- scale(df) #estandarizamos los valores de las caracterícticas

In [45]:

dist.eucl <- dist(df.scaled, method = "euclidean")

In [46]:
round(as.matrix(dist.eucl)[1:3, 1:3], 1)

                   Maserati Bora Cadillac Fleetwood Honda Civic
Maserati Bora      0.0           5.2                7.4
Cadillac Fleetwood 5.2           0.0                8.1
Honda Civic        7.4           8.1                0.0

In [47]:
library(cluster)

In [48]:
data(occupationalStatus) 
head(occupationalStatus, 3)

      destination
origin  1  2  3  4  5  6  7  8
     1 50 19 26  8  7 11  6  2
     2 16 40 34 18 11 20  8  3
     3 12 35 65 66 35 88 23 21

In [50]:
str(occupationalStatus)

 'table' int [1:8, 1:8] 50 16 12 11 2 12 0 0 19 40 ...
 - attr(*, "dimnames")=List of 2
  ..$ origin     : chr [1:8] "1" "2" "3" "4" ...
  ..$ destination: chr [1:8] "1" "2" "3" "4" ...

In [52]:
dd <- daisy(occupationalStatus) 
round(as.matrix(dd)[1:3, 1:3], 2)

  1      2     3
1   0.00 43.16 118.10
2  43.16  0.00  95.16
3 118.10 95.16   0.00

In [57]:
library("factoextra") 
fviz_dist(dist.eucl)
#Rojo: alta similaridad 
#Azil: baja similaridad

ERROR: Error in library("factoextra"): there is no package called 'factoextra'

Lo siento no pude encontrar la forma de usar esa función